/* ========== Import File Style  ==========*/
@import "./normalizecss.css";
@import "./reset.css";
@import "./fonts.css";
@import "./grid-system.css";
@import "./components.css";
@import "./helperclass.css";
/* ========== Root Setting ==========*/
:root {
  --primary-color: #09bead;
  --primary-dark-color: #161d26;
  --secondary-color: #f57f17;
  --secondary-dark-color: #1f2935;
  --white-color: #fff;
  --text-color: #333333;
  --text-dark-color: #95a5c6;
  --header-shadow: 0 0.3rem 5.9rem rgba(4, 195, 255, 16%);
  --primary-shadow: 0 0 5.9rem rgba(96, 233, 255, 27%);
  --secondary-shadow: 0 0 8.1rem rgba(19, 182, 255, 24%);
  --primary-font: "Poppins", tahoma;
  --primary-font-md: "Poppins Medium", tahoma;
  --primary-font-sb: "Poppins SemiBold", tahoma;
  --primary-font-bold: "Poppins Bold", tahoma;
  --primary-font-black: "Poppins Black", tahoma;
  --primary-transition: all 200ms ease-in-out;
  --secondary-transition: all 100ms ease-in-out;
}
/* ========== Start Style ==========*/
body {
  color: var(--text-color);
  font-family: var(--primary-font);
}
/* ========== Start Style Header ==========*/
.heder {
  background: var(--white-color);
  box-shadow: var(--header-shadow);
  position: sticky;
  top: 0;
  z-index: 50;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--primary-color);
  font-family: var(--primary-font-black);
  font-size: 7.8rem;
}
.menu {
  display: flex;
  transition: var(--primary-transition);
}
.menu__items {
  margin-left: 3rem;
}
.menu__items:first-child {
  margin-left: 0;
}
.menu__link {
  color: var(--text-color);
  transition: var(--primary-transition);
  padding-bottom: 1rem;
}
.menu__link:hover {
  transition: var(--primary-transition);
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.menu__link--active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.nav__toggle-icon {
  display: none;
  background: var(--white-color);
  box-shadow: var(--primary-shadow);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}
.nav__toggle-line {
  width: 4.2rem;
  height: 0.37rem;
  background: var(--primary-color);
  border-radius: 50rem;
  transition: var(--secondary-transition);
  position: relative;
}
.nav__toggle-line::after,
.nav__toggle-line::before {
  content: "";
  width: 4.2rem;
  height: 0.37rem;
  background: var(--primary-color);
  border-radius: 50rem;
  transition: var(--primary-transition);
  position: absolute;
}
.nav__toggle-line::after {
  top: 0.9rem;
}
.nav__toggle-line::before {
  top: -0.9rem;
}
.nav__toggle-icon--open .nav__toggle-line {
  background: transparent;
}
.nav__toggle-icon--open .nav__toggle-line::after {
  transform: translateY(-0.9rem) rotate(-45deg);
}
.nav__toggle-icon--open .nav__toggle-line::before {
  transform: translateY(0.9rem) rotate(45deg);
}
.cover{
  display: none;
}
/* ========== End Style Header ==========*/
/* ========== Start Style Main ==========*/
.main {
  overflow: hidden;
}
/* ========== End Style Main ==========*/
/* ========== Start Home Section Style==========*/
.home {
  height: 95rem;
  padding: 4rem;
  background: url("../assets/svg/header-shape.svg") no-repeat bottom;
}
.home__wrapper {
  width: 100%;
  display: flex;
}
.home__content {
  display: flex;
  flex-direction: column;
}
.home__name {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-family: var(--primary-font-sb);
}
.home__name span {
  color: var(--secondary-color);
}
.home__title {
  color: var(--primary-color);
  font-size: 5rem;
  font-family: var(--primary-font-bold);
  margin: 1.2rem 0;
}
.home__caption {
  opacity: 71%;
  margin-bottom: 2rem;
}
.home__wrappers-link {
  display: flex;
  gap: 1.5rem;
}
.home__image {
  width: 55rem;
  height: 55rem;
  background: url("../assets/image/header-avatar.jpg") no-repeat top center;
  background-size: cover;
  border: 2px solid;
  border-radius: 100%;
  border: 2rem solid var(--white-color);
  box-shadow: var(--primary-shadow);
  margin-left: auto;
}
/* ========== End Home Section Style==========*/
/* ========== Start About Us Section Style==========*/
.about-us {
  margin-top: 6rem;
}
.about {
  display: flex;
  background: var(--white-color);
  box-shadow: var(--primary-shadow);
  min-height: 63rem;
}
.about__cover {
  flex-basis: 48%;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__content {
  flex-basis: 52%;
  flex-shrink: 0;
  padding: 4rem;
}
.about__title {
  font-family: var(--primary-font-sb);
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.about__discription {
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 8rem;
}
.about__list-title {
  color: var(--primary-color);
  font-family: var(--primary-font-sb);
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.about__list {
  margin-bottom: 3rem;
  margin-left: 1rem;
}
.about-list__items {
  position: relative;
  margin-bottom: 1rem;
  padding: 0 2.5rem;
}
.about-list__items:last-child {
  margin-bottom: 0;
}
.about-list__items::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--secondary-color);
  border-radius: 100%;
}
.about__links-wrapper {
  display: flex;
  gap: 1.5rem;
}

/* ========== End  About Us Section Style==========*/
