/* ========== Import File Style  ==========*/
@import "./normalizecss.css";
@import "./reset.css";
@import "./fonts.css";
@import "./grid-system.css";
@import "./components.css";
@import "./helperclass.css";
/* ========== Root Setting ==========*/
:root {
  --primary-color: #09bead;
  --primary-dark-color: #161d26;
  --secondary-color: #f57f17;
  --secondary-dark-color: #1f2935;
  --white-color: #fff;
  --text-color: #333333;
  --text-dark-color: #95a5c6;
  --header-shadow: 0 0.3rem 5.9rem rgba(4, 195, 255, 16%);
  --primary-shadow: 0 0 5.9rem rgba(96, 233, 255, 27%);
  --secondary-shadow: 0 0 8.1rem rgba(19, 182, 255, 24%);
  --primary-font: "Poppins", tahoma;
  --primary-font-md: "Poppins Medium", tahoma;
  --primary-font-sb: "Poppins SemiBold", tahoma;
  --primary-font-bold: "Poppins Bold", tahoma;
  --primary-font-black: "Poppins Black", tahoma;
  --primary-transition: all 200ms ease-in-out;
  --secondary-transition: all 100ms ease-in-out;
}
/* ========== Start Style ==========*/
body {
  color: var(--text-color);
  font-family: var(--primary-font);
}
/* ========== Start Style Header ==========*/
.header {
  background: var(--white-color);
  box-shadow: var(--header-shadow);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 7.8rem;
  font-family: var(--primary-font-black);
  color: var(--primary-color);
}
/* ==========>  Menu Style  <==========*/
.menu {
  display: flex;
  gap: 2rem;
}
.menu__items {
  font-family: var(--primary-font-md);
}
.menu__link {
  text-align: center;
  transition: all ease 300ms;
  color: var(--text-color);
}
.menu__link:hover {
  color: var(--primary-color);
}
.menu__link--active {
  color: var(--primary-color);
}
/* ==========>> Toggle Menu Style  <<==========*/
.nav__toggle {
  display: none;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  box-shadow: var(--header-shadow);
  border-radius: 2rem;
}
.nav__toggle-icon {
  position: relative;
  width: 4rem;
  height: 0.3rem;
  background: var(--primary-color);
  border-radius: 10rem;
  transition: all 300ms ease;
}
.nav__toggle-icon::after,
.nav__toggle-icon::before {
  content: "";
  position: absolute;
  width: 2.9rem;
  height: 0.3rem;
  background: var(--primary-color);
  border-radius: 10rem;
  transition: all 450ms ease;
}
.nav__toggle-icon::after {
  top: 1rem;
  left: 0;
}
.nav__toggle-icon::before {
  top: -1rem;
  right: 0;
}
.nav__toggle--open .nav__toggle-icon {
  background: transparent;
}
.nav__toggle--open .nav__toggle-icon::after {
  width: 4rem;
  transform: translateY(-1rem) rotate(-45deg);
}
.nav__toggle--open .nav__toggle-icon::before {
  width: 4rem;
  transform: translateY(1rem) rotate(45deg);
}
/* ========== Main Style  ==========*/
.main {
  padding: auto;
}
/* ========== Home Section Style  ==========*/
.home {
  margin-top: 5rem;
}
.home__wrapper {
  display: flex;
}
.home__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.home__name {
  color: var(--primary-color);
  font-family: var(--primary-font-sb);
  font-size: 2.4rem;
}
.home__name span {
  color: var(--secondary-color);
}
.home__title {
  color: var(--primary-color);
  font-family: var(--primary-font-bold);
  font-size: 5rem;
}
.home__caption {
  opacity: 71%;
}
.home__link-wrapper {
  display: flex;
  gap: 2rem;
}
.home__link {
  flex-shrink: 0;
}
.home__photo {
  width: 55rem;
  height: 55rem;
  border-radius: 100%;
  border: 2rem solid #fff;
  box-shadow: var(--primary-shadow);
  background: url("../assets/image/header-avatar.jpg") no-repeat top center;
}
