/* ========== Import File Style  ==========*/
@import "./normalizecss.css";
@import "./reset.css";
@import "./fonts.css";
@import "./grid-system.css";
@import "./components.css";
@import "./helperclass.css";
/* ========== Root Setting ==========*/
:root {
  --primary-color: #09bead;
  --primary-dark-color: #161d26;
  --secondary-color: #f57f17;
  --secondary-dark-color: #1f2935;
  --white-color: #fff;
  --text-color: #333333;
  --text-dark-color: #95a5c6;
  --header-shadow: 0 0.3rem 5.9rem rgba(4, 195, 255, 16%);
  --primary-shadow: 0 0 5.9rem rgba(96, 233, 255, 27%);
  --secondary-shadow: 0 0 8.1rem rgba(19, 182, 255, 24%);
  --primary-font: "Poppins", tahoma;
  --primary-font-md: "Poppins Medium", tahoma;
  --primary-font-sb: "Poppins SemiBold", tahoma;
  --primary-font-bold: "Poppins Bold", tahoma;
  --primary-font-black: "Poppins Black", tahoma;
  --primary-transition: all 200ms ease-in-out;
  --secondary-transition: all 100ms ease-in-out;
}
/* ========== Start Style ==========*/
body {
  color: var(--text-color);
  font-family: var(--primary-font);
  overflow-x: hidden;
  /* background: #ccc; */
}
/* ========== Start Style Header ==========*/
.header {
  background: var(--white-color);
  box-shadow: var(--header-shadow);
  z-index: 50;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 7.8rem;
  font-family: var(--primary-font-black);
  color: var(--primary-color);
}
/* ==========>  Menu Style  <==========*/
.menu {
  display: flex;
  gap: 2rem;
  z-index: 50;
}
.menu__items {
  font-family: var(--primary-font-md);
}
.menu__link {
  text-align: center;
  transition: all ease 300ms;
  color: var(--text-color);
}
.menu__link:hover {
  color: var(--primary-color);
}
.menu__link--active {
  color: var(--primary-color);
}
/* ==========>> Toggle Menu Style  <<==========*/
.nav__toggle {
  display: none;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  box-shadow: var(--header-shadow);
  border-radius: 2rem;
}
.nav__toggle-icon {
  position: relative;
  width: 4rem;
  height: 0.3rem;
  background: var(--primary-color);
  border-radius: 10rem;
  transition: all 300ms ease;
}
.nav__toggle-icon::after,
.nav__toggle-icon::before {
  content: "";
  position: absolute;
  width: 2.9rem;
  height: 0.3rem;
  background: var(--primary-color);
  border-radius: 10rem;
  transition: all 450ms ease;
}
.nav__toggle-icon::after {
  top: 1rem;
  left: 0;
}
.nav__toggle-icon::before {
  top: -1rem;
  right: 0;
}
.nav__toggle--open .nav__toggle-icon {
  background: transparent;
}
.nav__toggle--open .nav__toggle-icon::after {
  width: 4rem;
  transform: translateY(-1rem) rotate(-45deg);
}
.nav__toggle--open .nav__toggle-icon::before {
  width: 4rem;
  transform: translateY(1rem) rotate(45deg);
}
/* ========== Main Style  ==========*/
.main {
  padding: auto;
}
/* ========== Home Section Style  ==========*/
.home {
  margin-top: 5rem;
  height: 83rem;
  background: url("../assets/svg/header-shape.svg") no-repeat bottom;
}
.home__wrapper {
  display: flex;
}
.home__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.home__name {
  color: var(--primary-color);
  font-family: var(--primary-font-sb);
  font-size: 2.4rem;
}
.home__name span {
  color: var(--secondary-color);
}
.home__title {
  color: var(--primary-color);
  font-family: var(--primary-font-bold);
  font-size: 5rem;
}
.home__caption {
  opacity: 71%;
}
.home__link-wrapper,
.about__links-wrapper {
  display: flex;
  gap: 2rem;
}
.home__link,
.about__link {
  flex-shrink: 0;
}
.home__photo {
  width: 55rem;
  height: 55rem;
  border-radius: 100%;
  border: 2rem solid #fff;
  box-shadow: var(--primary-shadow);
  background: url("../assets/image/header-avatar.jpg") no-repeat top center;
  margin-left: auto;
}
/* ========== About Us Section Style  ==========*/
.about {
  background: var(--white-color);
  display: flex;
  box-shadow: var(--primary-shadow);
}
.about__cover {
  flex-basis: 40%;
}
.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__content {
  flex-basis: 60%;
  padding: 4rem;
}
.about__title {
  font-family: var(--primary-font-sb);
  font-size: 2.8rem;
  margin: 0;
  margin-bottom: 3rem;
}
.about__description {
  margin: 0;
  margin-bottom: 6rem;
}
.about__list-title {
  color: var(--primary-color);
  font-family: var(--primary-font-sb);
  font-size: 1.8rem;
  margin: 0;
}
.about__list {
  margin-bottom: 5rem;
  margin-left: 1rem;
}
.about-list__items {
  padding-left: 2.5rem;
  position: relative;
  margin-top: 1rem;
}
.about-list__items::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: var(--secondary-color);
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.about__links-wrapper {
  margin-top: 5rem;
}
/* ========== services Section Style  ==========*/
.service {
  color: var(--white-color);
  text-align: center;
  padding: 13rem 2rem;
  position: relative;
  z-index: 5;
  height: 100%;
  overflow: hidden;
}
.service--purple {
  background: #8540ff;
  box-shadow: 0 0 35px rgba(118, 13, 255, 35%);
}
.service--yellow {
  background: #ffc50c;
  box-shadow: 0 0 35px rgba(255, 197, 12, 35%);
}
.service--pink {
  background: #ec407a;
  box-shadow: 0 0 35px rgba(236, 64, 122, 35%);
}
.service--orange {
  background: #ff6331;
  box-shadow: 0 0 35px rgba(255, 99, 49, 35%);
}
.service--blue {
  background: #13b6ff;
  box-shadow: 0 0 35px rgba(19, 182, 255, 35%);
}
.service--green {
  background: #49af46;
  box-shadow: 0 0 35px rgba(73, 175, 70, 35%);
}
.service__title {
  font-size: 2.4rem;
  font-family: var(--primary-font-bold);
  margin: 2rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service__caption {
  margin: 0;
}
.service__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* ========== Resume Section Style  ==========*/
.resume {
  margin-top: 20rem;
  box-shadow: var(--secondary-shadow);
  padding: 10rem 0;
  transform: skewy(-6deg);
  background: var(--white-color);
}
.resume__list {
  background: var(--white-color);
  box-shadow: var(--primary-shadow);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  min-height: 36rem;
}
.resume__list::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  width: 4rem;
  z-index: -1;
}
.resume-list__item {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
}
.resume-list__item:last-child {
  margin-bottom: 0;
}
.resume-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  border-radius: 3rem;
  width: 5.4rem;
  z-index: -1;
  transition: all 0.2s ease-in;
  max-width: 29rem;
}
.resume-list__item--active {
  color: var(--white-color);
}
.resume-list__item--active::before {
  width: 100%;
}
.resume-item__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 0.8rem;
}
.resume-item__text {
  font-family: var(--primary-font-sb);
  font-size: 1.8rem;
  margin-left: 2.5rem;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ===================================== */
.resume__content {
  border-left: 0.5rem solid var(--primary-color);
  padding-left: 3rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.resume__content--show {
  height: auto;
  overflow: visible;
  opacity: 1;
}
.resume-content__item {
  margin-bottom: 2.5rem;
}
.resume-content__item:last-child {
  margin-bottom: 0;
}
.resume-content__head {
  display: flex;
  justify-content: space-between;
}
.resume-content__title {
  color: var(--secondary-color);
  font-family: var(--primary-font-sb);
  font-size: 1.8rem;
  margin: 0;
  position: relative;
}
.resume-content__title::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4.2rem;
  margin: auto 0;
  background: var(--primary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.resume-content__date {
  background: var(--secondary-color);
  border-radius: 2rem;
  padding: 0.7rem 3rem;
  color: var(--white-color);
  box-shadow: 0 0.3rem 0.7rem rgba(245, 127, 23, 24%);
}
.resume-content__subtitle {
  font-family: var(--primary-font-sb);
  font-size: 1.6rem;
  margin: 1rem 0;
}
.resume-content__description {
  margin: 0;
}
/* ========== Portflio Section Style  ==========*/
.portflio {
  margin-top: 20rem;
  margin-bottom: 10rem; /* Delete End Or Comment End  */
}
.portflio-list {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
}
.portflio-list__item {
  white-space: nowrap;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.portflio-list__item--active {
  color: var(--white-color);
  background: var(--primary-color);
}
.portflio-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.portflio-content--show {
  height: auto;
  opacity: 1;
}
.swiper-wrapper {
  margin-bottom: 5rem;
}
.portflio__img {
  width: 100%;
}
.swiper-pagination-bullet {
  width: 2.4rem !important;
  height: 2.4rem !important;
  background: #fff !important;
  border: 0.4rem solid #bfbebe !important;
}
.swiper-pagination-bullet-active {
  border-color: var(--primary-color) !important;
}
