/* ========== Button Style ==========*/
.btn {
  width: 18rem;
  height: 6rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: var(--primary-font-sb);
  cursor: pointer;
  transition: var(--primary-transition);
}
.btn--primary {
  background: var(--primary-color);
  box-shadow: 0 1.6rem 2.9rem rgba(11, 190, 173, 41%);
}
.btn--secondary {
  background: var(--secondary-color);
  box-shadow: 0 1.6rem 2.8rem rgba(245, 127, 23, 24%);
}
.btn--primary:hover {
  background: #059b8c;
}
.btn--secondary:hover {
  background: #cf680e;
}
/* ========== Section Title ==========*/
.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: 6rem;
  margin-top: 20rem;
}
.section-head__title {
  font-family: var(--primary-font-bold);
  font-size: 4.8rem;
  color: var(--primary-color);
}
.section-head__caption {
  color: var(--text-color);
  letter-spacing: .5rem;
  word-spacing: 1rem;
}
.section-head__line {
  display: block;
  position: relative;
  width: 30rem;
  height: .2rem;
  background: var(--primary-color);
}
.section-head__line::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 4rem;
  height: 1.1rem;
  background: var(--primary-color);
  border-radius: 2rem;
  margin: auto;
}
