/* ========== Button Style ==========*/
.btn {
  width: 18rem;
  height: 6rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: var(--primary-font-sb);
  cursor: pointer;
  transition: var(--primary-transition);
}
.btn--primary {
  background: var(--primary-color);
  box-shadow: 0 1.6rem 2.9rem rgba(11, 190, 173, 41%);
}
.btn--secondary {
  background: var(--secondary-color);
  box-shadow: 0 1.6rem 2.8rem rgba(245, 127, 23, 24%);
}
.btn--primary:hover {
  background: #059b8c;
}
.btn--secondary:hover {
  background: #cf680e;
}
/* ========== Section Title ==========*/
