/* ========== Button Style ==========*/
.btn {
  width: 18rem;
  height: 6rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-family: var(--primary-font-sb);
  cursor: pointer;
  transition: var(--primary-transition);
}
.btn--primary {
  background: var(--primary-color);
  box-shadow: 0 1.6rem 2.9rem rgba(11, 190, 173, 41%);
}
.btn--secondary {
  background: var(--secondary-color);
  box-shadow: 0 1.6rem 2.8rem rgba(245, 127, 23, 24%);
}
.btn--primary:hover {
  background: #059b8c;
}
.btn--secondary:hover {
  background: #cf680e;
}
/* ========== Section Title ==========*/
.section__head {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  align-items: center;
}
.section-title {
  color: var(--primary-color);
  font-family: var(--primary-font-bold);
  font-size: 4.8rem;
  margin: 0;
}
.section-sub-title {
  color: var(--text-color);
  word-spacing: 1rem;
  font-size: 1.6rem;
  margin: 0;
}
.section-line {
  display: block;
  width: 24rem;
  height: .3rem;
  background: var(--primary-color);
  border-radius: 10rem;
  position: relative;
}
.section-line::after{
  content: "";
  position: absolute;
  width: 3.9rem;
  height: 1.1rem;
  background: var(--primary-color);
  border-radius: 55rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}