@media screen and (max-width: 1600px) {
  .home__photo {
    width: 45rem;
    height: 45rem;
  }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .home__photo {
    width: 40rem;
    height: 40rem;
  }
}
@media screen and (max-width: 992px) {
  /* ==========  Menu  ==========*/
  .menu {
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    position: absolute;
    top: -200%;
    left: 0;
    right: 0;
    width: 80%;
    background: #fff;
    margin: 0 auto;
    box-shadow: var(--header-shadow);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all ease 300ms;
  }
  .menu--open {
    top: 100%;
  }
  .nav__toggle {
    display: flex;
  }
  .home__name {
    font-size: 2rem;
  }
  .home__title {
    font-size: 4rem;
  }
  .home__photo {
    width: 30rem;
    height: 30rem;
    border-width: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .home__wrapper {
    flex-direction: column-reverse;
  }
  .home__content {
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
  .home__link-wrapper {
    flex-wrap: wrap;
  }
  .home__link {
    flex-grow: 1;
  }
  .home__photo {
    margin-right: auto;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 430px) {
  .home__name {
    font-size: 1.5rem;
  }
  .home__title {
    font-size: 3rem;
  }
}
