@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  /* ==========  Menu  ==========*/
  .menu {
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    position: absolute;
    top: -200%;
    left: 0;
    right: 0;
    width: 80%;
    background: #fff;
    margin: 0 auto;
    box-shadow: var(--header-shadow);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all ease 300ms;
  }
  .menu--open{
    top: 100%;
  }
  .nav__toggle {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 430px) {
}
